h2,
h3 {
  font-weight: 700;
}

.container {
  font-family: 'Barlow', sans-serif;
  background-color: #f7f8fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1000px;
}

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(100% / 4);
}

.icon {
  width: 25%;
}

.screen {
  width: 90%;
}
