button {
  padding: 6px 18px 6px 18px;
  font-size: large;
}

button:hover {
  background-color: black;
  color: white;
}

th {
  color: white;
  background-color: black;
}

tr:nth-child(odd) {
  background-color: #d2d2d2;
}
